body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.hero {
    background: linear-gradient(to right, #1f1f1f, #333); /* Dégradé linéaire sombre */
    color: #fff;
    text-align: center;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #61dafb; /* Bleu vif comme accent */
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #008ab0; /* Bleu vif comme accent */
    border: 2px solid #008ab0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #fff;
    color: #1f1f1f;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .button {
        font-size: 0.8em;
        padding: 8px 16px;
    }
}
